
.linha1{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  color: yellowgreen;
  font-family:'Montserrat', sans-serif;
}
.linha2{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  color:tomato;
  font-family:'Montserrat', sans-serif;
}
.linha3{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  color: darkgoldenrod;
  font-family:'Montserrat', sans-serif;
}


h1{
  text-align: center;
  color: lightyellow;
  font-family: 'Montserrat', sans-serif;
  
  
}

hr{
  margin-top: 20px;
  
}

.App{
  max-width: 900px;
  margin: auto;
}